In [34]:
import os 


os.listdir()

['.ipynb_checkpoints',
 'archive.zip',
 'avocado.csv',
 'credits.csv',
 'Minimum Wage Data.csv',
 'minwage.csv',
 'movies.csv',
 'netflix',
 'netflixData.csv',
 'recommendation.ipynb',
 'state_abbv.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled5.ipynb']

In [35]:
!pip install --upgrade pip
!pip install sklearn

Requirement already satisfied: pip in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (24.1.1)
Collecting pip
  Using cached pip-24.1.2-py3-none-any.whl.metadata (3.6 kB)
Using cached pip-24.1.2-py3-none-any.whl (1.8 MB)

ERROR: To modify pip, please run the following command:
C:\Users\Mukul Bansal\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
import numpy as np
import pandas as pd
!pip install scikit-learn


from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

Requirement already satisfied: scikit-learn in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
data=pd.read_csv("netflixData.csv")
data.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [38]:
print(data.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [39]:
data=data[["Title","Description","Content Type","Genres"]]

In [40]:
data.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [41]:
print(data.isnull().sum())

Title           0
Description     0
Content Type    0
Genres          0
dtype: int64

In [42]:
data=data.dropna()

In [43]:
data

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [44]:
!pip install nltk
import nltk
import re
nltk.download('stopwords')
stemmer =nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword = set(stopwords.words('english'))

Requirement already satisfied: nltk in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\mukul bansal\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip
[nltk_data] Downloading package stopwords to C:\Users\Mukul
[nltk_data]     Bansal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [45]:
def clean(text):
    text=str(text).lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?>+','',text)
    text=re.sub('[%s]' % re.escape(string.punctuation),'',text)
    text=re.sub('\n','',text)
    text=re.sub('\w*\d\w*','',text)
    
    text=[word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    return text
    
    


data["Title"]=data["Title"].apply(clean)

In [46]:
print(clean("(Un)Well"))

unwell

In [47]:
data.Title.sample(10)

1005    chuchu tv nursery rhymes  kids songs hindi
443                                            atm
1296                            dhoondte reh jaoge
1768                                       garbage
4533                                          take
2451                                   justin time
5317                                    wolfs call
4544                                    tales city
2389                                     jiu jitsu
509                                      bad blood
Name: Title, dtype: object

In [48]:
print(data.Genres[20:100])

20              Crime TV Shows, TV Dramas, TV Mysteries
21                           Crime TV Shows, Docuseries
22                                        Documentaries
23                                        Documentaries
24                 Comedies, Dramas, Independent Movies
                            ...
95    Children & Family Movies, Dramas, Romantic Movies
96    Children & Family Movies, Dramas, Romantic Movies
97                                               Movies
98    Children & Family Movies, Comedies, Music & Mu...
99                  Horror Movies, International Movies
Name: Genres, Length: 80, dtype: object

In [49]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
feature = data['Genres'].tolist()
tfidf=TfidfVectorizer(stop_words="english")

tfidf_matrix=tfidf.fit_transform(feature)

similarity = cosine_similarity(tfidf_matrix)
indices = pd.Series(data.index,
                    index=data['Title']).drop_duplicates()

In [79]:
def netflix_recommendation(title):
    try:
        index=indices[title]
        similarity_scores=list(enumerate(similarity[index]))
        similarity_scores=sorted(similarity_scores,key=lambda x: x[1], reverse=True)
        similarity_scores=similarity_scores[0:10]
        movieindices = [i[0]for i in similarity_scores]
        return data['Title'].iloc[movieindices]
    except:
        print(title,"not there")
        return []

In [52]:
print(data)

                            Title  \
0                          unwell
1                           alive
2     annefrank  parallel stories
3                         blackaf
4                   catsthemewvie
...                           ...
5962                    الف مبروك
5963                 دفعة القاهرة
5964                         海的儿子
5965                      반드시 잡는다
5966           최강전사 미니특공대  영웅의 탄생

                                            Description Content Type  \
0     This docuseries takes a deep dive into the luc...      TV Show
1     As a grisly virus rampages a city, a lone man ...        Movie
2     Through her diary, Anne Frank's story is retol...        Movie
3     Kenya Barris and his family navigate relations...      TV Show
4     This pawesome documentary explores how our fel...        Movie
...                                                 ...          ...
5962  On his wedding day, an arrogant, greedy accoun...        Movie
5963  A group of women leaves Kuwait to attend unive...      TV Show
5964  Two brothers start a new life in Singapore, wh...      TV Show
5965  After people in his town start turning up dead...        Movie
5966  Miniforce, a special task force of elite range...        Movie

                                              Genres
0                                         Reality TV
1     Horror Movies, International Movies, Thrillers
2                Documentaries, International Movies
3                                        TV Comedies
4                Documentaries, International Movies
...                                              ...
5962          Comedies, Dramas, International Movies
5963               International TV Shows, TV Dramas
5964               International TV Shows, TV Dramas
5965         Dramas, International Movies, Thrillers
5966                        Children & Family Movies

[5967 rows x 4 columns]

In [78]:
print(netflix_recommendation("alive"))

1                     alive
178                  aaviri
360            andhaghaaram
361             andhakaaram
398                 apostle
1759     game hindi version
1760     game tamil version
1761    game telugu version
1801              ghost lab
1804          ghost stories
Name: Title, dtype: object